<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button (tap)="showFilter()">
                <ion-icon ios="ios-funnel" md="md-funnel"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Agendar</ion-title>
        <ion-buttons end>
            <button ion-button (tap)="goToReserves()">
                <img src="assets/images/my-reserves.png" alt="">
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content  [ngClass]="{'filter-blur': divFilter}">
    <ion-grid>
        <ion-row class="box-week">
            <ion-col col-12>
                <ion-row>
                    <ion-col col-6>
                        <div class="text-maincolor">
                            <p>{{monthName}}</p>
                        </div>
                    </ion-col>
                    <ion-col col-6>
                        <div class="text-maincolor opt-reset" (tap)="resetWeek()">
                            <p>HOY</p>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row class="text-center">
                    <ion-col col-1>
                        <div class="chevron" (tap)="renderPrevWeek()">
                            <img src="assets/images/left-chevron.png">
                        </div>
                    </ion-col>
                    <ion-col col-10>
                        <div (tap)="selectedDay(day.date)"
                             class="box-day"
                             *ngFor="let day of week;  let i = index"
                             [ngClass]="{'bg-day': i == 3, 'day-notvalid': day.date < today, 'today': day.number == numday && day.monthNumber == nummonth}">
                            <p><strong>{{day.letter}}</strong></p>
                            <p>{{day.number}}</p>
                        </div>
                    </ion-col>
                    <ion-col col-1>
                        <div class="chevron" (tap)="renderNextWeek()">
                            <img src="assets/images/right-chevron.png">
                        </div>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row class="box-lessons" *ngIf="thereAreLessons">
            <ion-col col-12>
                <div class="sec-title">
                    <ion-icon ios="ios-sunny" md="md-sunny"></ion-icon>
                    <span>Clases</span>
                </div>
                <ion-row class="each-lesson" *ngFor="let lesson of lessons">
                    <ion-col col-3>
                        <div class="box-div div-hour">
                            <p>{{lesson.start}}</p>
                            <p>{{lesson.end}}</p>
                        </div>
                    </ion-col>
                    <ion-col col-6>
                        <div class="box-div" (tap)="viewDetail(lesson)">
                            <p><strong>{{lesson.disciplineName}}</strong></p>
                            <p>{{lesson.instructorName}}</p>
                        </div>
                    </ion-col>
                    <ion-col col-3>
                        <div class="box-button">
                            <button (tap)="showSimpleRerserveAlert(lesson)">RESERVAR</button>
                            <p>{{lesson.reserves}} / {{lesson.occupancy}}</p>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row class="box-message" *ngIf="!thereAreLessons">
            <div>
                <p>No hay clases disponibles</p>
            </div>
        </ion-row>
    </ion-grid>
</ion-content>
<div *ngIf="divFilter" class="bg-filter">
    <div class="container-filter">
        <div class="div-title">
            <h1>Filtrar por Categoría</h1>
            <!--<ion-icon ios="ios-close" md="md-close" (click)="closeFilter()"></ion-icon>-->
            <div class="icon-cross">
                <img src="assets/images/cross.png" alt="" (click)="closeFilter()">
            </div>
        </div>
        <div class="each-select">
            <div>
                <p>DISCIPLINA</p>
                <select name="lesson" id="lesson" [(ngModel)]="disciplineIdSelected">
                    <option value="">Todas las disciplinas</option>
                    <option *ngFor="let discipline of selectDisciplines"
                            [ngValue]="discipline.id">{{discipline.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="each-select">
            <div>
                <p>INSTRUCTOR</p>
                <select name="instructor" id="instructor" [(ngModel)]="instructorIdSelected">
                    <option value="">Todos los instructores</option>
                    <option *ngFor="let instructor of selectInstructors"
                            [ngValue]="instructor.id">{{instructor.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="each-select">
            <div>
                <p>SALÓN</p>
                <select name="room" id="room" [(ngModel)]="roomIdSelected">
                    <option value="">Todas las salas</option>
                    <option *ngFor="let room of selectRooms"
                            [ngValue]="room.id">{{room.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="div-buttons">
            <button class="clean-btn" (tap)="clearFilter()">Limpiar filtros</button>
            <button class="aply-btn" (tap)="aplyFilter()">Ver resultados</button>
        </div>
    </div>
</div>