page-signup{

  .bg-signup{
    background-color: white;
    text-align: center;

    form{
      display: inline-block;
      margin: 10% 0;
      font-family: OpenSans-Regular;

      .logo{
        display: inline-block;
        width: 140px;
        margin-top: 25px;

        img{
          width: 100%;
        }
      }

      .inputs-data{
        margin-top: 4%;
        
        .input{
          background-color: transparent;
          width: 80%;
          display: inline-block;
          margin: 10px 0;
          border-bottom: 1px solid $main-color;
          color: $main-color;

          input{
            background-color: transparent;
            border: none;
            padding: 5px;
            width: 90%;
            font-size: 15px;
          }

          ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $main-color;
          }
          ::-moz-placeholder { /* Firefox 19+ */
            color: $main-color;
          }
          :-ms-input-placeholder { /* IE 10+ */
            color: $main-color;
          }
          :-moz-placeholder { /* Firefox 18- */
            color: $main-color;
          }

        }

        .div-checkbox{
          color: $main-color;
          font-size: 11px;
          margin: 20px 0;

          label{
            vertical-align: super;

            a{
              color: $main-color;
              font-size: 11px;
              display: inline-block;
            }
          }
        }

        .btn-signup{
          margin-top: 1em;
          background-color: $main-color;
          border-radius: 22px;
          border: none;
          color: white;
          padding: 10px 20px;
          font-size: 15px;
          width: 80%;
        }


      }
    }
  }
}